#gl-popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 9999999;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#gl-popup.gl-popup-open {
	display: block;
}

#gl-popup .gl-popup-inner {
	box-sizing: border-box;
	background-color: #fff;
	padding-top: 100px;
	padding-bottom: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 90%;
}

#gl-popup-close {
	position: absolute;
	top: 0;
	left: auto;
	background: #d20962;
	padding: 0;
	right: 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
}

#gl-popup .gl-popup-title {
	font-size: 30px;
	line-height: 30px;
	margin-bottom: 15px;
	color: #000;
}

#gl-popup .gl-popup-subtitle {
	font-size: 18px;
	color: #808080;
}

#gl-popup .gl-popup-subtitle a {
	color: #03a84e;
}

#gl-popup a:hover,
#gl-popup a:focus {
	color: #38694e;
}

@media (max-width: 600px) {
	#gl-popup .gl-popup-inner {
		padding: 50px 15px;
	}
	
	#gl-popup .gl-popup-title {
		max-width: 320px;
		margin: 0 auto 15px;
	}
}

@media (min-width: 600px) {
	#gl-popup .gl-popup-inner {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (min-width: 810px) {
	#gl-popup .gl-popup-inner {
		width: 75%;
		max-width: 750px;
	}
}